

.search{
    width: 98%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;

}


.search .title-left, .search .search-btns{
    width: 50%;
    height: 140px;
}



.search .title-left{
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
}

.search h1{
    font-size: 35px;
    font-weight: normal;
}

.search .title-left span{
    margin-top: 10px;
}

.search .title-left span a{
    text-decoration: none;
    font-size: 13px;
}

.search .search-btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search .search-btns .select-one{
    height: 32px;
    width: 170px;
    padding: 2px;
    border-radius: 5px;
    border-color: #dddddd;
    margin-right: 4px;
    color: #676e75; 
}

.search .search-btns .select-two{
    height: 32px;
    width: 90px;
    padding: 2px;
    border-radius: 4px;
    border-color: #dddddd;
    color: #676e75;
}

.btn-1{
    background: #8fb131;
    color: #fff;
}

.btn-2{
    background: #8fb131;
    color: #fff;
}

.btn-3{
    background: #d92700;
    color: #fff;
}

.btn-4{
    background: #6195c5;
    color: #fff;
}


button{
    background: none;
	color: inherit;
	border: none;
	padding: 0 8px;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    height: 32px;
    margin: 0 2px;
    border-radius: 4px;
    justify-self: baseline;
}

button span{
    margin-left: 3px;
}


@media (max-width: 1024px){
    
    .search .title-left, .search .search-btns{
        width: 100%;
        height: 140px;
        flex-direction: column;
        text-align: center;
        margin: 15px 0 8px 0;
    }
    .search{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .search-right{
        margin-bottom: 25px;
    }

}